.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: inherit;
}

header {
  background-color: darkgray;
  position: fixed;
  width: 100%;
}

.header-container {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info-container {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info p:first-child {
  text-align: end;
}

.user-info img {
  height: 40px;
  border-radius: 50%;
  border: 2px solid green;
  cursor: pointer;
}

.user-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-buttons button {
  padding: 2px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.4s;
  border: 1px solid white;
}
.user-buttons button img {
  width: 20px;
  height: 20px;
}

.user-buttons button:hover {
  border: 1px solid black;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(37, 32, 32);
  width: 100%;
}

.footer-container {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.main {
  margin-top: 82px;
  margin-bottom: 51.33px;
}
.main-container {
  overflow-y: scroll;
  height: calc(100vh - 133.33px);
}

.main .cards .cards-container {
  padding: 20px;
}

.main .cards ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 30px;
}

.main .cards ul li {
  height: 150px;
  max-width: 300px;
  min-width: 200px;
  border-radius: 10px;
  border: 2px solid green;
  animation: card 0.5s 1;
}

@keyframes card {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main .cards ul li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.main .cards ul li a div {
  padding: 8px;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 10px;
  font-size: 12px;
  text-align: start;
}

.download {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
}

.download span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.main .cards ul .add-form {
  border-radius: 20px;
  background-color: darkgray;
  border: 2px green solid;
}

.main .cards ul .add-form a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-form a p:first-child {
  font-size: 40px;
  height: fit-content;
}

.form {
  display: flex;
  gap: 20px;
  padding: 15px;
}

.form label {
  display: block;
}

.form .form-container {
  width: 40%;
  background-color: rgb(40, 40, 40);
  padding: 20px;
  border-radius: 10px;
  text-align: start;
  height: calc(100vh - 163.33px);
}

.form .map {
  width: 60%;
  height: calc(100vh - 163.33px);
  background-color: red;
  border-radius: 10px;
}

form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input,
select {
  width: 100%;
  background-color: rgb(78, 78, 78);
  border-radius: 10px;
  border: none;
  padding: 7px;
  margin-top: 5px;
}

form textarea {
  width: 100%;
  background-color: rgb(78, 78, 78);
  border-radius: 10px;
  border: none;
  height: 90px;
  resize: none;
  margin-top: 5px;
}

.answers {
  width: 100%;
  margin-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
}

.answear-heads {
  background-color: rgb(78, 78, 78);
  display: flex;
  padding: 5px;
}

.answers-card {
  width: 100%;
}

.answear-heads-card {
  background-color: rgb(78, 78, 78);
  display: flex;
  padding: 5px;
}

.answers-info {
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 5px;
}

.answers-info button {
  margin-right: 5px;
  background-color: white;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.4s;
  border: 2px solid black;
}

.adding-answer {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

.adding-answer label {
  width: 25%;
  background-color: yellow;
  border-radius: 10px;
  color: black;
  text-align: center;
  height: 29.75px;
  border: 1px solid black;
}

.adding-answer button {
  width: 25%;
  background-color: white;
  border-radius: 10px;
  height: 29.75px;
  border: 1px solid black;
}

.answers-info button:hover {
  background-color: white;
  border: 2px solid white;
}

.answers-info button img {
  width: 20px;
  height: 20px;
}

#color {
  display: none;
}

#color:focus {
  display: inline-block;
}

#colorR {
  display: none;
}

#colorR:focus {
  display: inline-block;
}
.ratings {
  display: flex;
  gap: 20px;
  padding: 15px;
}

.diagrams {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 163.33px);
  overflow-y: scroll;
  overflow-x: hidden;
  width: -webkit-fill-available;
  background-color: rgb(39, 31, 31);
  padding: 15px;
  border-radius: 10px;
}

.diagrams div h2 {
  padding-bottom: 10px;
}

.diagrams .diagrams-item {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}

.diagrams .diagrams-item svg {
  transform: scale(0.85);
}

.diagrams .pie svg {
  transform: scale(1);
}

.recharts-legend-wrapper {
  bottom: -60px !important;
}

.redact-modal {
  position: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.redact-modal form {
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
}

.color-modal-container {
  position: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.color-modal {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color:cornsilk;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.color-modal ul{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap:20px;
}

.color-modal ul li button{
  width: 30px;
  height: 30px;
  border: none;
}

.close {
  font-size: 20px;
  padding: 5px;
  align-self: flex-end;
}

@media (max-width: 1160px) {
  .main .cards ul {
    grid-template-columns: auto auto auto;
  }
}
